<section class="page-header" id="page-header">
  <h1 class="project-name"><a href="{{ site.baseurl }}/" style="color: inherit;text-decoration: inherit;">{{ site.title }}</a></h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/git-abhishek/gsoc-2018/blob/master/Abhishek_Singh_Proposal.md" class="btn"  style="color: inherit;text-decoration: inherit;">View Proposal</a>
  <a href="https://github.com/git-abhishek/gsoc-2018/raw/master/Abhishek_Singh_Proposal.pdf" class="btn"  style="color: inherit;text-decoration: inherit;">Download Proposal</a>
  <a href="#" class="btn"  style="color: inherit;text-decoration: inherit;">View Progress</a>
  <a href="#" class="btn"  style="color: inherit;text-decoration: inherit;">View Final Report</a>
</section>